%form
  %fieldset
    %legend
      Rock Paper Scissors is a zero sum game that is usually played by two people using their hands and no tools.
      The idea is to make shapes with an outstretched hand where each shape will have a certain degree of power and will lead to an outcome.
      %h2 Select your bet
    .btn-box
      = link_to throws_path(value: 'rock'), method: :post, class: 'throw-btn throw-btn-js rock-btn' do
        %span Rock
      = link_to throws_path(value: 'paper'), method: :post, class: 'throw-btn throw-btn-js paper-btn' do
        %span Paper
      = link_to throws_path(value: 'scissors'), method: :post, class: 'throw-btn throw-btn-js scissors-btn' do
        %span Scissors